.emergency{
	top:140mm;
	/*left:730px;*/
	left:calc(50% + 15px);
	position:absolute;
	/*font-size:8px;*/
}
UPDATE mysql.user SET user='newusername',
 password=PASSWORD('newpassword') WHERE user='root';
 FLUSH PRIVILEGES;